/* Universal Selectors */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Element/Type Selectors */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ddcdcd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  display: flex;
  word-wrap: break-word;
  margin-left: 36%;
  border-left: 3px solid rgb(156, 0, 0);
  padding: 20px;
}

/* Class Selectors */
/* These are the parameters for the header */
.header {
  padding: 30px;
  background-color: #7c2a78;
  color: #230131;
  width: 100%;
  margin-top: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.header h1 {
  font-size: 48px;
  color: #230131;
  font-weight: bolder;
}

.header h2 {
  font-size: 28px;
  color: #230131;
  font-weight: bold;
}

/* These are the parameters for the navigation links*/
.header nav {
  margin-right: 24px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

.header nav ul li {
  list-style-type: none;
  display:inline-block;
  margin-left: 24px;
  background-color: rgb(248, 109, 248);
  border-radius: 15px;
  padding: 10px;
  border: 3px solid rgba(0, 0, 0, 0.507);
}

/* These are the parameters for the 'About Me' section*/
.aboutme h3 {
  font-size: 34px;
  font-weight: bold;
  margin-left: 12%;
  margin-top: 180px;
}

.aboutme p img {
  margin: 10px;
  width: 150px;
  height: 200px;
  border: 5px solid rgba(0, 0, 0, 0.507);
}

/* These are the parameters for the 'My Work' section*/
.mywork h4 {
  font-size: 34px;
  font-weight: bold;
  margin-left: 12%;
}

.mywork article {
  padding: 10px;
  margin-left: 36%;
  border-left: 3px solid rgb(156, 0, 0);
  padding: 20px;
}

/* These are the parameters to get the images to sit correctly */
.my {
  display: flex;
}

.work a img {
  margin: 10px;
  width: 400px;
  height: 400px;
  flex: 50%;
  padding: 5px;
}

.work2 a img {
  margin: 10px;
  width: 400px;
  height: 400px;
  flex: 50%;
  padding: 5px;
}

/* These are the parameters to get the image to grow when hovering over the image */
.work a:hover img {
  transform: scale(1.2);
}

.work2 a:hover img {
  transform: scale(1.2);
}

/* These are the parameters for the 'Contact Me' section */
.contactme h5 {
  font-size: 34px;
  font-weight: bold;
  margin-left: 12%;
}

.contactme ul li {
  list-style-type: none;
  padding: 10px;
  margin-left: 36%;
  border-left: 3px solid rgb(156, 0, 0);
  padding: 20px;
}

/* These are the parameters for the 'Resume' section */
.Resume h6 {
  font-size: 34px;
  font-weight: bold;
  margin-left: 12%;
}

/* media queries */
@media screen and (max-width: 676px) {
  /* This will make the page resize and go into a column when the page is shrunk */
  .header, body {
    flex-direction: column;
    text-align: center;
  }

  /* This will make the separating lines go under the headings instead of next to them*/
  p {
    display: flex;
    word-wrap: break-word;
    margin-left: 12px;
    border-left: 0px;
    padding: 20px;
  }

  .contactme ul li {
    list-style-type: none;
    padding: 10px;
    margin-left: 12px;
    border-left: 0px;
    padding: 20px;
  }

  .mywork article{
    list-style-type: none;
    padding: 10px;
    margin-left: 12px;
    border-left: 0px;
    padding: 20px;
  }

  h3, h4, h5, h6 {
    border-bottom: 3px solid rgb(156, 0, 0);
    margin-right: 12%;
    margin-left: 12%;
  }
}
